nav {
	background-color: #dbdcdd;
	position: fixed;
	width: 100%;
}

nav p {
	margin-left: 10px;
	font-size: 20px;
}

.nav-links {
	float: right;
	margin-right: 20px;
}

.results {
	/*Only margin the link*/
}

main {
	padding-top: 100px;
}