nav {
	background-color: #dbdcdd;
	position: fixed;
	width: 100%;
}

nav p {
	margin-left: 10px;
	font-size: 20px;
}

.nav-links {
	float: right;
	margin-right: 20px;
}

.results {
	/*Only margin the link*/
}

main {
	padding-top: 100px;
}

.mag-button {
	border: 1px #b7b7b7 solid;
	height: 23px;
	width: 23px;
	position: relative;
	top: 8px;
}

.left-margin {
	margin-left: 100px;
}